Package: vamp-alsa-host
Version: 0.6
Architecture: armhf
Essential: no
Depends: libboost-filesystem-dev, libboost-system-dev, libboost-thread-dev, libasound2-dev, libvamp-hostsdk3v5, libvamp-sdk2v5, libfftw3-dev
Homepage: https://github.com/sensorgnome/vamp-alsa-host
Maintainer: TvE (tvoneicken@gmail.com)
Description: ALSA support for hosting vamp audio plugins for Sensorgnome.
